body {
    text-align: center;
    background-image: url('images/items/360_F_31815247_2Wlr4LUiWmNyQpk1cX6ZeeDpEBnsPnmH.webp');
    background-size: cover;
}

.kepala h1, .kepala h4{
    line-height: 1;
}

.bot-card img, .player-card img{
    width: 100px;
    height: 150px;
    margin: 3px;
}

h1, h3, h4, h5, p {
    color: aliceblue;
}

button {
    width: 120px;
    font-size: 16px;
    margin: 2px;
}

#btn-start{
    border-radius: 20px;
    padding: 5px 1px;
    background-color: rgb(18, 122, 21);
    color: aliceblue;
    border: 2px solid white;
}

#btn-start:not([disabled]):hover{
    background-color: rgb(132, 218, 129);
    color: rgb(18, 122, 21);
}

#btn-start[disabled]{
    background-color: rgb(189, 225, 188);
    color: rgb(18, 122, 21);
}

#btn-take{
    border-radius: 20px;
    padding: 5px 1px;
    background-color: rgb(18, 103, 122);
    color: aliceblue;
    border: 2px solid white;
}

#btn-take:not([disabled]):hover{
    background-color: rgb(142, 180, 213);
    color :rgb(18, 103, 122);
}

#btn-take[disabled]{
    background-color: rgb(187, 201, 212);
    color :rgb(18, 103, 122);
}

#btn-hold{
    border-radius: 20px;
    padding: 5px 1px;
    background-color: rgb(171, 173, 24);
    color: aliceblue;
    border: 2px solid white;
}

#btn-hold:not([disabled]):hover{
    background-color: rgb(216, 229, 128);
    color: rgb(86, 87, 12);
}

#btn-hold[disabled]{
    background-color: rgb(224, 228, 194);
    color: rgb(86, 87, 12);
}

#inputUang{
    border-radius: 20px;
    border: 2px solid black;
    padding: 8px 15px;
}

.butSection{
    padding-bottom: 10px;
}

